::-moz-selection { background: #FF6150; }
::selection { background: #FF6150; }
html{
	overflow: auto;
	overflow-x: hidden;
}
.container-fluid{
	padding-left: 75px;
	padding-right: 75px;
}
.relative{
	position: relative;
}
.nopadding{
	padding-left: 0;
	padding-right: 0;
	&.left{
		padding-right: 75px;
	}
}
a{
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
}
a:hover,
button:hover,
body{
	cursor: none;
}
main{
	width: 100%;
	min-height: 80vh;
	float: left;
	padding-top: 136px;
	overflow: hidden;
}
section{
	width: 100%;
	float: left;
	.section__title{
		width: 100%;
		float: left;
		margin-bottom: 90px;
	}
	&.page__wrapper{
		padding-top: 30px;
		position: relative;
		&::before{
			content: '';
			width: 1644px;
			height: 388px;
			display: block;
			position: absolute;
			background-image: url(../images/icons/slider-background.svg);
			top: 170px;
			left: 50%;
			margin-left: -822px;
		}
	}
}
.cursor{
	width: 70px;
	height: 70px;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10000;
	margin: -33px 0 0 -33px;
    pointer-events: none;
    border-radius: 50%;
    .dot{
    	width: 4px;
    	height: 4px;
    	display: block;
    	background-color: #2C2C2D;
    	position: absolute;
    	left: 50%;
		top: 50%;
    	margin: -2px 0 0 -2px;
    	border-radius: 50%;
    	&::before{
			content: '';
			width: 2px;
			height: 2px;
			display: block;
			background-color: #2C2C2D;
			position: absolute;
			left: 50%;
			top: 50%;
			opacity: 0;
			margin: -1px 0 0 -1px;
			visibility: hidden;
			-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
		}
		&::after{
			content: '';
			width: 2px;
			height: 2px;
			display: block;
			background-color: #2C2C2D;
			position: absolute;
			left: 50%;
			top: 50%;
			opacity: 0;
			margin: -1px 0 0 -1px;
			visibility: hidden;
			-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
		}
    }
	.circle{
		width: 100%;
		height: 100%;
		display: block;
		border: 1px solid #2C2C2D;
		border-radius: 50%;
		position: absolute;
		top: 0;
		left: 0;
		-webkit-transition: all 100ms ease;
    			transition: all 100ms ease;
	}
	&.hover{
		// -webkit-transform: scale(0.5);
  //               transform: scale(0.5);
		.circle{
			// cursor: none;
			// opacity: 0;
			border-width: 3px;
		}
		.dot{
			background-color: transparent;
			&::before{
				height: 10px;
				opacity: 1;
				margin: -5px 0 0 -1px;
				visibility: visible;
			}
			&::after{
				width: 10px;
				opacity: 1;
				margin: -1px 0 0 -5px;
				visibility: visible;
			}
		}
	}
	&.scroll{
		.dot{
			background-color: transparent;
			&::before{
				width: 2px;
				height: 8px;
				margin: -7px 0 0 -1px;
				opacity: 1;
				visibility: visible;
				border-radius: 50px;
			}
			// width: 6px;
			// height: 14px;
			// border-radius: 15px;
		}
		.circle{
			width: 51px;
			border-width: 3px;
			border-radius: 50px;
			left: 50%;
			margin-left: -26.5px;
		}
	}
}
.breadcrumbs{
	width: 100%;
	float: left;
	font-size: 14px;
	line-height: 18px;
	color: #BFBFBF;
	margin-bottom: 25px;
	a{
		font-size: 14px;
		line-height: 18px;
		color: #BFBFBF;
		&:hover{
			color: #FF6150;
			text-decoration: none;
		}
	}
}
.categories{
	width: 100%;
	float: left;
	a{
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		padding: 7px 12px 9px;
		border: 1px solid #2C2C2D;
		border-radius: 5px;
		margin: 0 10px 10px 0;
		color: #2C2C2D;
		&.active,
		&:hover{
			text-decoration: none;
			color: #fff!important;
			background-color: #2C2C2D!important;
			border-color: #2C2C2D!important;
		}
	}
	.category{
		display: inline-block;
		font-size: 14px;
		font-weight: 700;
		line-height: 18px;
		padding: 7px 12px 9px;
		border: 1px solid #2C2C2D;
		border-radius: 5px;
		margin: 0 10px 10px 0;
		color: #2C2C2D;
	}
}
.no__content{
	width: 100%;
	float: left;
	padding: 220px 0 200px;
}
.large__title{
	width: 100%;
	float: left;
	padding: 52px 0 103px;
	h2{
		font-weight: bold;
		font-size: 130px;
		line-height: 164px;
		letter-spacing: 0.015em;
		color: #FF6150;
		position: relative;
		margin-bottom: 0;
		span{
			clear: both;
			display: block;
			-webkit-transition: all 0.3s ease!important;
					transition: all 0.3s ease!important;
		}
		span:nth-child(2){
			padding-left: 109px;
			margin-bottom: -15px;
		}
		&::before{
			content: '“';
			position: absolute;
			left: -130px;
			top: -70px;
			font-size: 160px;
			line-height: 202px;
			letter-spacing: 0.015em;
		}
	}
}
@keyframes cursorscale {
	0%   {transform: scale(0.7);}
	100% {transform: scale(1);}
}
@-webkit-keyframes cursorscale {
	0%   {transform: scale(0.7);}
	100% {transform: scale(1);}
}
.preloader__wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-image: url(../images/rooom.svg);
	z-index: 9999;
	background-size: cover;
	background-position: center;
	-webkit-transition: all .5s ease;
			transition: all .5s ease;
	&.load{
		opacity: 0;
		visibility: hidden;
		-webkit-transform: scale(5);
             	transform: scale(5);
	}
	.layout{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #fff;
		-webkit-transition: all .5s ease;
    			transition: all .5s ease;
	}
}
@media screen and (max-height: 800px){
	.large__title h2{
		font-size: 80px;
		line-height: 110px;
		&:before{
			font-size: 110px;
			line-height: 160px;
		}
	}
}
@include media-breakpoint-down(md){
	.container-fluid{
		padding-left: 30px;
		padding-right: 30px;
	}
	.cursor{
		display: none;
	}
	.no__content{
		h2{
			font-size: 80px;
			line-height: 96px;
		}
	}
	.preloader__wrapper{
		background-image: url(../images/rooom-md.svg);
	}
}
@include media-breakpoint-down(xs){
    .social__links{
        left: 30px;
    }
    .no__content{
		h2{
			font-size: 48px;
			line-height: 56px;
		}
	}
	.preloader__wrapper{
		background-image: url(../images/rooom-xs.svg);
	}
}