@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/PT%20Root%20UI_Regular.eot');
	src:
	     url('../fonts/PT%20Root%20UI_Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PT%20Root%20UI_Regular.woff2') format('woff2'),
	     url('../fonts/PT%20Root%20UI_Regular.woff') format('woff'),
	     url('../fonts/PT%20Root%20UI_Regular.ttf') format('truetype');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/PT%20Root%20UI_Medium.eot');
	src:
	     url('../fonts/PT%20Root%20UI_Medium.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PT%20Root%20UI_Medium.woff2') format('woff2'),
	     url('../fonts/PT%20Root%20UI_Medium.woff') format('woff'),
	     url('../fonts/PT%20Root%20UI_Medium.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'PTRootUI';
	src: url('../fonts/PT%20Root%20UI_Bold.eot');
	src:
	     url('../fonts/PT%20Root%20UI_Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/PT%20Root%20UI_Bold.woff2') format('woff2'),
	     url('../fonts/PT%20Root%20UI_Bold.woff') format('woff'),
	     url('../fonts/PT%20Root%20UI_Bold.ttf') format('truetype');
	font-weight: 700;
	font-style: normal;
}
.h1, h1{
	font-size: 160px;
	line-height: 202px;
}
.h2, h2{
	font-size: 120px;
	line-height: 151px;
}
.h3, h3{
	font-size: 70px;
	line-height: 88px;
}
.h4, h4{
	font-size: 60px;
	line-height: 76px;
}
.h5, h5{
	font-size: 37px;
	line-height: 50px;
}
.h6, h6{
	font-size: 25px;
	line-height: 31px;
}
p{
	font-size: 20px;
	line-height: 27px;
	color: #2C2C2D;
	margin-bottom: 15px;
}
.stroke{
	font-weight: 700;
	letter-spacing: 0.015em;
	-webkit-text-stroke: 3px #FF6150;
	-webkit-text-fill-color: transparent;
}
body{
	font-family: 'PTRootUI';
	font-weight: 400;
	color: #2C2C2D;
}
.btn{
	display: inline-block;
	padding: 14px 30px 16px;
	border-radius: 32px;
	font-family: 'PTRootUI';
	font-size: 14px;
	line-height: 18px;
	color: #FFFFFF;
	border: none;
	position: relative;
	overflow: hidden;
	box-shadow: 0px 6px 20px rgba(32, 32, 32, 0.35);
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
	&.btn__dark{
		background-color: #FF6150;
		&::before{
			background-color: #2C2C2D;
		}
	}
	&.btn__submit{
		padding: 14px 64px 16px 41px;
		background-color: #2C2C2D;
		box-shadow: none;
		&::before{
			background-color: #FF6150;
		}
		&::after{
			content: '';
			width: 16px;
			height: 16px;
			display: block;
			position: absolute;
			right: 41px;
			top: 17px;
			background-image: url(../images/icons/submit-icon.svg);
		}
	}
	&::before{
		content: '';
		width: 300px;
		height: 300px;
		display: block;
		border-radius: 50%;
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        -webkit-transition: all 0.5s ease;
				transition: all 0.5s ease;
	}
	&:hover{
		color: #fff;
		&::before{
			-webkit-transform: translate(-50%, -50%) scale(0);
                	transform: translate(-50%, -50%) scale(0);
		}
	}
	span{
		position: relative;
		z-index: 2;
		pointer-events: none;
	}
	&.top__icon{
		padding: 14px 24px 16px 44px;
		font-weight: 500;
		&::after{
			content: '';
			width: 15px;
			height: 9px;
			display: block;
			background-image: url(../images/icons/arrow-top.svg);
			position: absolute;
			left: 24px;
			top: 20px;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}
		&:hover::after{
			top: 18px;
		}
	}
}
img{
	width: 100%;
	height: auto;
}