.about__us__blocks{
	padding: 53px 0 97px;
	position: relative;
	.icon{
		position: absolute;
		top: 200px;
		width: 12px;
		height: 24px;
		display: block;
		left: 50%;
		margin-left: -6px;
		.scroll{
			width: 12px;
			height: 24px;
			display: block;
			position: relative;
			z-index: 1;
			background: #fff;
			animation: translating 2s linear infinite;
			&::before{
				content: '';
				width: 10px;
				height: 20px;
				position: absolute;
				top: 2px;
				left: 1px;
				display: block;
				border: 1.5px solid #FF6150;
				border-radius: 6.66667px;
			}
		}
		&::before{
			content: '';
			width: 2px;
			height: 52px;
			display: block;
			background: #B7B7B7;
			position: absolute;
			z-index: -1;
			left: 5px;
			top: -12px;
		}
	}
}
@keyframes translating {
  25%  { transform: translateY(-10px); }
  75%  { transform: translateY(10px); }
}
.about__block{
	width: 100%;
	float: left;
	position: relative;
	&.left{
		margin-top: 534px;
		padding: 0 0 0 24px;
		.title{
			height: 900px;
			position: absolute;
			left: 0;
			top: 0;
			z-index: -1;
		}
		.image{
			margin-top: 320px;
		}
	}
	&.right{
		padding: 0 24px 0 0;
		margin-bottom: 700px;
		.title{
			position: absolute;
			height: 900px;
			z-index: -1;
			bottom: -320px;
			.content{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
			    padding: 40px 30px 41px 50px;
			}
		}
	}
	.title{
		width: 100%;
		float: left;
		padding: 40px 30px 41px 50px;
		background-color: rgba(255,97,80,0.15);
		.number{
			font-size: 190px;
			font-weight: 700;
			line-height: 239px;
			letter-spacing: 0.015em;
			background-image: url(../images/layout.png);
			background-size: 421px 274px;
			background-repeat: no-repeat;
			float: left;
			text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
	    	-webkit-text-stroke: 2px transparent;
    		-webkit-background-clip: text;
    		-webkit-text-fill-color: transparent;
    	}
		h5{
			font-weight: 600;
			padding: 75px 0 0 33px;
			margin-bottom: 0;
			float: left;
			line-height: 41px;
		}
	}
	.image{
		width: 100%;
		height: 720px;
		background-size: cover;
		background-position: center;
		float: left;
		box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.2);
		img{
			width: 100%;
			height: auto;
			float: left;
		}
	}
	.text{
		width: 100%;
		float: left;
		margin-top: 50px;
		h5{
			font-weight: 600;
			line-height: 43px;
			margin-bottom: 20px;
		}
		p{
			line-height: 29px;
			margin-bottom: 45px;
		}
	}
}
.what__do__section{
	padding: 149px 0 125px;
	.title{
		h2{
			position: relative;
			font-weight: 700;
			&::after{
				content: '';
				width: 61px;
				height: 42px;
				display: inline-block;
				margin-left: 22px;
				background-image: url(../images/about-us/arrow.svg);
			}
		}
	}
}
.works__slider{
	&.swiper-container{
		overflow: visible;
	}
	.other{
		width: 540px;
		min-height: 540px;
		padding: 42px 80px 40px 50px;
		h3{
			line-height: 68px;
			font-weight: 700;
			margin-bottom: 45px;
		}
		img{
			width: inherit;
			max-width: 100%;
			margin-bottom: 45px;
		}
	}
	.work{
		width: 100%;
		float: left;
		position: relative;
		.image{
			position: absolute;
			width: 480px;
			top: -41px;
			left: 0;
			box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.2);
			z-index: 1;
		}
		.content{
			width: 100%;
			max-width: 1020px;
			min-height: 540px;
			float: right;
			padding: 42px 150px 40px 250px;
			position: relative;
			.title{
				width: 100%;
				float: left;
				padding-right: 60px;
				margin-bottom: 28px;
				h3{
					font-size: 70px;
					line-height: 88px;
					font-weight: 700;
					margin-bottom: 0;
					span{
						font-size: 90px;
						line-height: 113px;
						display: block;
						margin-top: -15px;
						-webkit-text-stroke-width: 2px;
					}
				}
			}
			.text{
				width: 100%;
				float: left;
				p{
					line-height: 29px;
					margin-bottom: 26px;
				}
			}
			img{
				max-width: 100%;
				width: auto;
				position: absolute;
				top: 50px;
				right: 55px;
			}
		}
	}
}
@media screen and (max-width: 1900px){
	.about__block {
		.title {
			.number{
				font-size: 130px;
				line-height: 180px;
			}
			h5{
			    padding: 50px 0 0 33px;
			}
		}
		&.left{
			.image{
				margin-top: 255px;
			}
		}
		&.right{
			.title{
				height: 750px;
				bottom: -270px;
			}
		}
	}
}
@media screen and (max-width: 1600px){
	.about__block{
		.title{
			h5{
				font-size: 28px;
				line-height: 36px;
				padding: 55px 0 0 33px;
			}
		}
		&.right .title .content{
		    padding: 40px 25px 41px 25px;
		}
		&.left .title {
			padding: 40px 25px 41px 25px;
		}
	}
}
@media screen and (max-width: 1500px){
	.about__block {
		.image{
			height: 600px;
		}
		.title{
			.number{
				font-size: 90px;
			}
			h5{
			    font-size: 24px;
			    line-height: 32px;
			    padding: 58px 0 0 17px;
			}
		}
		&.left{
			margin-top: 520px;
			.title{
				height: 600px;
			}
		}
		&.right{
			.title{
				height: 600px;
			}
		}
	}
	.what__do__section .title h2{
		font-size: 54px;
		line-height: 68px;
	}
	.works__slider .work .content .title h3{
		font-size: 56px;
		line-height: 64px;
		span{
			font-size: 72px;
			line-height: 80px;
			margin-top: -10px;
		}
	}
}
@include media-breakpoint-down(lg){
	.large__title h2{
		font-size: 64px;
		line-height: 72px;
	}
	.about__us__blocks .icon{
		top: 40px;
	}
	.about__block{
		.image{
			height: 450px;
		}
		&.left{
			padding: 0;
			margin-top: 100px;
			.title{
				height: 210px;
				padding: 30px 25px 30px;
				.number{
					font-size: 130px;
					line-height: 150px;
				}
				h5{
					padding: 40px 0 0 33px;
				}
			}
			.image{
				margin-top: 210px;
			}
		}
		&.right{
			padding: 0;
			margin-bottom: 210px;
			.title{
				height: 210px;
				bottom: -210px;
				.content{
					padding: 30px 25px 30px;
					.number{
						font-size: 130px;
						line-height: 150px;
					}
					h5{
						padding: 40px 0 0 33px;
					}
				}
			}
		}
	}
}
@include media-breakpoint-down(md){
	.large__title {
		padding: 40px 0 60px;
		.title{
			padding-left: 60px;
		}
		h2{
			font-size: 52px;
			line-height: 64px;
			&::before{
				font-size: 80px;
				line-height: 92px;
				left: -40px;
				top: -50px;
			}
		}
	}
	.about__us__blocks{
		padding: 40px 0 50px;
		.icon{
			top: 40px;
		}
	}
	.about__block{
		&.left{
			margin-top: 100px;
		}
	}
	.what__do__section{
		padding: 80px 0 40px;
		.title{
			margin-bottom: 40px;
		}
	}
	.works__slider{
		.work{
			padding-left: 0;
			.image{
				display: none;
			}
			.content{
				float: left;
				padding: 40px 150px 40px 50px;
			}
		}
	}
}
@include media-breakpoint-down(sm){
	.large__title {
		.title{
			padding-left: 60px;
		}
		h2{
			font-size: 42px;
			line-height: 50px;
			&::before{
				font-size: 80px;
				line-height: 92px;
				left: -40px;
				top: -50px;
			}
			span:nth-child(2){
				padding-left: 70px;
			}
		}
	}
	.works__slider .work .content {
	    padding: 40px 50px 40px 50px;
		.title{
			padding-right: 90px;
			h3{
				font-size: 42px;
				line-height: 50px;
				span{
					font-size: 52px;
					line-height: 66px;
				}
			}
		}
		img{
			max-width: 70px;
		}
	}
}
@include media-breakpoint-down(xs){
	.large__title {
		.title{
			// padding-left: 30px;
		}
		h2{
			font-size: 28px;
			line-height: 36px;
			&::before{
				font-size: 64px;
				line-height: 70px;
				left: -40px;
				top: -50px;
			}
			span:nth-child(2){
				padding-left: 30px;
			}
		}
	}
	.about__block{
		.text{
			h5{
				font-size: 28px;
				line-height: 32px;
			}
		}
		.image{
			height: 300px;
		}
		&.left {
			.title {
				height: 180px;
				.number{
					font-size: 80px;
		    		line-height: 120px;
				}
				h5{
			    	padding: 27px 0 0 15px;
			    }
		    }
		    .image{
		    	margin-top: 180px;
		    }
		}
		&.right{
			.title{
				height: 180px;
				bottom: -180px;
				.content{
					.number{
						font-size: 80px;
		    			line-height: 120px;
					}
					h5{
				    	padding: 27px 0 0 15px;
				    }
				}
			}
		}
	}
	.works__slider {
		.work .content {
			padding: 20px 30px;
			img{
				max-width: 50px;
				top: 20px;
				right: 30px;
			}
			.title{
				padding-right: 60px;
				h3{
					font-size: 32px;
					line-height: 40px;
					span{
						font-size: 46px;
						line-height: 58px;
					}
				}
			}
			.text{
				p{
					font-size: 18px;
					line-height: 24px;
				}
			}
		}
		.other{
			width: 100%;
			padding: 20px 30px;
			h3{
				font-size: 46px;
				line-height: 58px;
			}
			p{
				font-size: 18px;
				line-height: 24px;
			}
		}
	}
}
@media screen and (max-width: 420px){
	.large__title {
		padding: 40px 0 30px;
		.title{
			padding-left: 30px;
		}
		h2{
			font-size: 26px;
			line-height: 34px;
			&::before{
				font-size: 64px;
				line-height: 70px;
				left: -40px;
				top: -50px;
			}
			span:nth-child(2){
				padding-left: 30px;
			}
		}
	}
	.about__block.left{
		margin-top: 80px;
	}
}