.contacts__section{
	padding: 60px 0 179px;
	.map{
		width: 100%;
		height: 410px;
		float: left;
	}
	.contacts{
		width: 100%;
		float: left;
		padding: 10px 50px 0 70px;
		.text{
			width: 100%;
			float: left;
			margin-bottom: 45px;
			p{
				margin-bottom: 0;
				font-weight: 500;
			}
		}
		button{
			margin-top: 16px;
		}
		a{
			width: 100%;
			float: left;
			display: block;
			font-size: 37px;
			font-weight: 700;
			line-height: 47px;
			margin-bottom: 37px;
			padding-left: 50px;
			position: relative;
			color: #2C2C2D;
			-webkit-transition: all 1s ease!important;
					transition: all 1s ease!important;
			&:hover{
				text-decoration: none;
				color: #FF6150;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
			}
			&.phone{
				&::before{
					width: 30px;
					height: 30px;
					margin-top: -15px;
					background-image: url(../images/icons/phone.svg);
				}
			}
			&.email{
				&::before{
					width: 30px;
					height: 24px;
					margin-top: -9px;
					background-image: url(../images/icons/email.svg);
				}
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.contacts__section .contacts{
		padding: 10px 0 0 0;
	}
}
@include media-breakpoint-down(md){
	.contacts__section .contacts{
		margin-top: 30px;
		a{
			font-size: 24px;
			line-height: 32px;
			margin-bottom: 20px;
		}
	}
}
@include media-breakpoint-down(xs){
	.contacts__section .map{
		height: 350px;
	}
}