footer{
	width: 100%;
	float: left;
}
.copyright__line{
	width: 100%;
	float: left;
	background: #F7F7F7;
	font-size: 14px;
	line-height: 18px;
	text-align: center;
	color: #2C2C2D;
	padding: 16px 0;
}
.page__scroll{
	width: 100%;
	height: 5px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	span{
		position: absolute;
		display: block;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #FF6150;
		-webkit-transform: translateX(-100%);
                transform: translateX(-100%);
		-webkit-transition: all 0.5s linear;
        		transition: all 0.5s linear;
	}
}
.popup__wrapper{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(57, 57, 57, 0.55);
	z-index: 1000;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&.show{
		opacity: 1;
		visibility: visible;
	}
}
.popup{
	width: 100%;
	max-width: 720px;
	position: fixed;
	top: 70%;
	left: 50%;
	background: #FFFFFF;
	border-radius: 5px;
	z-index: 1001;
	padding: 50px 60px;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	-webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    &.show{
    	top: 50%;
		opacity: 1;
		visibility: visible;
	}
    >.title{
    	width: 100%;
    	margin-bottom: 33px;
    }
    .close{
    	width: 22px;
    	height: 22px;
    	display: block;
    	position: absolute;
    	top: -22px;
    	right: -42px;
    	cursor: pointer;
    	opacity: 1;
    	&::before{
    		content: '';
    		width: 25px;
    		height: 2px;
    		display: block;
    		background-color: #fff;
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		margin: -1px 0 0 -12.5px;
    		-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
    		-webkit-transform: rotate(45deg);
            		transform: rotate(45deg);
    	}
    	&::after{
    		content: '';
    		width: 25px;
    		height: 2px;
    		display: block;
    		background-color: #fff;
    		position: absolute;
    		top: 50%;
    		left: 50%;
    		margin: -1px 0 0 -12.5px;
    		-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
    		-webkit-transform: rotate(-45deg);
            		transform: rotate(-45deg);
    	}
    	&:hover{
    		opacity: 1!important;
    		&::before,
    		&::after{
    			-webkit-transform: rotate(0deg);
            			transform: rotate(0deg);
            }
    	}
    }
    form{
    	width: 100%;
    	max-width: 345px;
    	margin: 0 auto;
    	.field__group.inline{
    		width: 100%;
    		label{
    			display: inline-block;
    			input{
    				&[name="name"]{
    					max-width: 195px;
    					margin-right: 15px;
    				}
    				&[name="phone"]{
    					max-width: 130px;
    				}
    			}
    		}
    	}
    	label{
    		margin-bottom: 20px;
    		position: relative;
    		.title{
    			width: 100%;
    			display: block;
    			font-weight: bold;
				font-size: 14px;
				line-height: 18px;
				color: #2C2C2D;
				margin-bottom: 4px;
    		}
    		.field__error{
				position: absolute;
			    left: 9px;
			    bottom: -20px;
			    font-size: 12px;
			    color: #FF6150;
			}
    	}
    	.submit__block{
    		width: 100%;
    		margin-top: 15px;
    	}
    }
}
@include media-breakpoint-down(md){
    .popup{
        max-width: 600px;
        padding: 40px 50px;
    }
}
@include media-breakpoint-down(sm){
    .popup{
        max-width: 480px;
        padding: 30px 40px;
        form{
            max-width: 100%;
            .field__group.inline label {
                width: 100%;

                input[name=name]{
                    max-width: 100%;
                }
                input[name=phone]{
                    max-width: 100%;
                }
            }
        }
    }
}
@include media-breakpoint-down(xs){
    .popup{
        max-width: 260px;
        padding: 20px 25px;
        .close{
            right: -30px;
        }
        >.title{
            margin-bottom: 20px;
        }
        h3.h6{
            font-size: 18px;
            line-height: 24px;
        }
    }
}