body.admin-bar{
	header,
	.menu__line{
		top: 32px;
	}
}
header{
	width: 100%;
	float: left;
	padding: 40px 0 35px;
	background-color: rgba(255,255,255,0.8);
	backdrop-filter: blur(7px);
	position: fixed;
	top: 0;
	z-index: 1000;
	-webkit-transition: all 0.3s ease!important;
    		transition: all 0.3s ease!important;
	.logo{
		margin: 9px 0 9px 0;
		img{
			pointer-events: none;
		}
	}
	&.show__bar{
		padding: 9px 0;
		.menu__btn{
			top: 0;
			opacity: 1;
			visibility: visible;
		}
		.main__nav{
			opacity: 0;
			visibility: hidden;
		}
	}
	.right__block{
		top: 0;
		position: relative;
		-webkit-transition: all 0.5s ease;
        		transition: all 0.5s ease;
	}
	&.show__menu{
		.right__block{
			top: -200px;
			opacity: 0;
			visibility: hidden;
		}
		.menu__btn{
			top: 0;
			opacity: 1;
			visibility: visible;
		}
		.main__nav{
			opacity: 0;
			visibility: hidden;
		}
	}
	.main__nav{
		padding: 14px 0;
		position: relative;
		top: 0;
		opacity: 1;
		visibility: visible;
		-webkit-transition: all 0.5s ease;
        		transition: all 0.5s ease;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				float: left;
				margin-right: 40px;
				a{
					display: block;
					float: left;
					font-size: 14px;
					line-height: 18px;
					color: #2C2C2D;
					position: relative;
					text-decoration: none;
					&::after{
						content: '';
						width: 21px;
						height: 1px;
						display: block;
						background-color: #2C2C2D;
						position: absolute;
						opacity: 0;
						visibility: hidden;
						left: -21px;
						bottom: -8px;
						-webkit-transition: all 0.2s ease;
        						transition: all 0.2s ease;
					}
					&:hover{
						// color: #FF6150;
						&::after{
							opacity: 1;
							visibility: visible;
							left: 0;
						}
					}
				}
				&.current-menu-item,
				&.current_page_parent{
					a{
						&::after{
							opacity: 1;
							visibility: visible;
							left: 0;
						}
					}
				}
				&.no__active.current-menu-item{
					a{
						&::after{
							opacity: 0;
							visibility: hidden;
							left: -21px;
						}
					}
				}
			}
		}
	}
	.menu__btn{
		width: 29px;
		height: 30px;
		margin: 9px 0 0 0;
		display: block;
		position: absolute;
		top: -200px;
		opacity: 0;
		visibility: hidden;
		-webkit-transition: all 0.5s ease;
        		transition: all 0.5s ease;
		span{
			width: 100%;
			height: 2px;
			display: block;
			left: 0;
			position: absolute;
			pointer-events: none;
			background-color: #2C2C2D;
			-webkit-transition: all 0.5s ease;
            		transition: all 0.5s ease;
			&:nth-child(1){
				top: 6px;
			}
			&:nth-child(2){
				top: 14px;
			}
			&:nth-child(3){
				top: 22px;
			}
			&:nth-child(4){
				top: 6px;
				left: -100%;
				background-color: #FF6150;
				opacity: 0;
			}
			&:nth-child(5){
				top: 14px;
				left: -150%;
				background-color: #FF6150;
				opacity: 0;
			}
			&:nth-child(6){
				top: 22px;
				left: -200%;
				background-color: #FF6150;
				opacity: 0;
			}
		}
		&:hover{
			span:nth-child(4),
			span:nth-child(5),
			span:nth-child(6){
				left: 0;
				opacity: 1;
			}
		}
		&.show__menu{
			span{
				&:nth-child(1){
					top: 14px;
					-webkit-transform: rotate(45deg);
                			transform: rotate(45deg);
				}
				&:nth-child(2){
					width: 0;
				}
				&:nth-child(3){
					top: 14px;
					-webkit-transform: rotate(315deg);
                			transform: rotate(315deg);
				}
				&:nth-child(4){
					top: -12px;
					left: -27px;
					-webkit-transform: rotate(45deg);
                			transform: rotate(45deg);
				}
				&:nth-child(5){
					width: 0;
				}
				&:nth-child(6){
					top: 40px;
					left: -26px;
					-webkit-transform: rotate(315deg);
                			transform: rotate(315deg);
				}
			}
			&:hover{
				span{
					&:nth-child(4){
						top: 14px;
						left: 0;
						-webkit-transform: rotate(45deg);
	                			transform: rotate(45deg);
					}
					&:nth-child(5){
						width: 0;
					}
					&:nth-child(6){
						top: 14px;
						left: 0;
						-webkit-transform: rotate(315deg);
	                			transform: rotate(315deg);
					}
				}
			}
		}
	}
	.work__information{
		margin: 14px 55px 0 0;
	}
}
.work__information{
	margin: 14px 0 47px 0;
	font-size: 14px;
	line-height: 18px;
	color: #2C2C2D;
	position: relative;
	padding-left: 24px;
	&::before{
		content: '';
		width: 14px;
		height: 18px;
		display: block;
		position: absolute;
		left: 0;
		top: 50%;
		margin-top: -9px;
		background-image: url('../images/icons/location.svg');
	}
}
.menu__block{
	position: absolute;
}
.menu__wrapper{
	position: fixed;
	top: 123px;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	visibility: hidden;
	-webkit-transition: all 0.3s ease;
    		transition: all 0.3s ease;
	&.show__menu{
		visibility: visible;
		.menu__side{
			&.left{
				left: 0;
			}
			&.right{
				right: 0%;
			}
		}
	}
	&.scroll{
		top: 66px;
	}
	.close__menu{
		width: 29px;
		height: 30px;
		margin: 9px 0 0 0;
		display: block;
		position: absolute;
		overflow: hidden;
		left: 315px;
		-webkit-transition: all 0.5s ease;
        		transition: all 0.5s ease;
		span{
			width: 100%;
			height: 2px;
			display: block;
			left: 0;
			position: absolute;
			pointer-events: none;
			background-color: #2C2C2D;
			-webkit-transition: all 0.5s ease;
            		transition: all 0.5s ease;
			&:nth-child(1){
				top: 13px;
				-webkit-transform: rotate(45deg);
                		transform: rotate(45deg);
			}
			&:nth-child(2){
				top: 13px;
				-webkit-transform: rotate(-45deg);
                		transform: rotate(-45deg);
			}
		}
		&:hover{
			-webkit-transform: rotate(180deg);
            		transform: rotate(180deg);
			span{
				background-color: #FF6150;
			}
		}
	}
	.menu__side{
		width: 50%;
		height: 100%;
		top: 0;
		left: 0;
		position: absolute;
		display: block;
		padding-top: 155px;
		background-color: rgba(255, 255, 255, 0.95);
		-webkit-transition: all 0.5s ease;
    			transition: all 0.5s ease;
		&.left{
			left: -100%;
		}
		&.right{
			padding-top: 0;
			padding-left: 90px;
			left: auto;
			right: -100%;
			-webkit-transition: all 0.5s ease 0.25s;
    				transition: all 0.5s ease 0.25s;
		}
	}
	.main__nav{
		width: 100%;
		float: left;
		padding-left: 20px;
		ul{
			width: 100%;
			float: left;
			margin: 0;
			padding: 0;
			list-style: none;
			li{
				width: 100%;
				float: left;
				margin-bottom: 45px;
				a{
					width: 100%;
					float: left;
					display: block;
					background-image: -webkit-linear-gradient(left, #FF6150 1%, #FF6150 100%);
					background-repeat: no-repeat;
  					background-position: -600px 0;
  					background-size: cover;
					font-size: 70px;
					font-weight: 700;
					line-height: 88px;
					letter-spacing: 0.015em;
					-webkit-text-stroke: 2px #2C2C2D;
					-webkit-text-fill-color: transparent;
					-webkit-background-clip: text;
					-webkit-transition: all 0.8s ease;
            		transition: all 0.8s ease;
					&:hover{
						-webkit-text-stroke: 2px #FF6150;
						background-position: 0 0;
						text-decoration: none;
					}
				}
				&.current-menu-item{
					a{
						color: #FF6150;
						-webkit-text-stroke: 2px #FF6150;
						-webkit-text-fill-color: #FF6150;
					}
				}
				&.no__active.current-menu-item{
					a{
						color: inherit;
						-webkit-text-stroke: 2px #2C2C2D;
						-webkit-text-fill-color: transparent;
					}
				}
			}
		}
	}
	.contact__block{
		width: 100%;
		float: left;
		position: absolute;
		top: 40%;
		height: auto;
		padding-top: 0;
		-webkit-transform: translateY(-50%);
                transform: translateY(-50%);
		a{
			width: 100%;
			float: left;
			display: block;
			font-size: 37px;
			font-weight: 700;
			line-height: 47px;
			margin-bottom: 45px;
			padding-left: 50px;
			position: relative;
			color: #2C2C2D;
			-webkit-transition: all 1s ease!important;
					transition: all 1s ease!important;
			&:hover{
				text-decoration: none;
				color: #FF6150;
			}
			&::before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
			}
			&.phone{
				&::before{
					width: 30px;
					height: 30px;
					margin-top: -15px;
					background-image: url(../images/icons/phone-black.svg);
				}
			}
			&.email{
				margin-bottom: 0;
				&::before{
					width: 30px;
					height: 24px;
					margin-top: -9px;
					background-image: url(../images/icons/email-black.svg);
				}
			}
		}
	}
	.social__links{
		left: 76px;
		bottom: 126px;
	}
}
@media screen and (max-height: 800px){
	.menu__wrapper {
		.menu__side{
			padding-top: 40px;
		}
		.main__nav ul li{
			margin-bottom: 30px;
		}
		.contact__block a{
			margin-bottom: 20px;
		}
	}
}
@media screen and (max-width: 1350px){
	.menu__wrapper {
		.main__nav ul li{
			margin-bottom: 20px;
			a{
				font-size: 42px;
				line-height: 56px;
			}
		}
		.contact__block{
			top: 30%;
			a{
			    font-size: 26px;
				line-height: 32px;
			}
		}
	}
}
@include media-breakpoint-down(lg){
	header {
		.work__information{
			display: none;
		}
	}
}
@include media-breakpoint-down(md){
	header {
		padding: 11px 0;
		&.show__bar{
			padding: 11px 0;
		}
		.right__block{
			display: none;
		}
		.main__nav{
			display: none;
		}
		.menu__btn{
			top: 0;
			opacity: 1;
			visibility: visible;
			right: 15px;
		}
	}
	.menu__wrapper{
		top: 66px;
		.menu__side{
			width: 100%;
			&.left{
				padding-top: 70px;
				padding-bottom: 250px;
				overflow: auto;
			}
			&.right{
				padding-top: 0;
				padding-left: 30px;
				height: 250px;
				top: auto;
				bottom: 0;
			}
		}
		.main__nav{
			padding-left: 0;
			ul{
				li{
					margin-bottom: 20px;
					a{
						width: auto;
						display: block;
						font-size: 32px;
    					line-height: 42px;
					}
				}
			}
		}
		.contact__block a{
			font-size: 24px;
    		line-height: 32px;
		}
	}
	.work__information{
		margin: 15px 0 30px 0;
	}
}
@include media-breakpoint-down(sm){
	
}