.partners__section{
	padding: 125px 0;
	overflow: hidden;
	.title__block{
		width: 100%;
		height: 450px;
		float: left;
		background: rgba(255,97,80,0.15);
		text-align: center;
		padding: 55px 0;
		position: relative;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		h3{
			font-size: 190px;
			line-height: 239px;
			letter-spacing: 0.015em;
			background-image: url(../images/layout.png);
			background-size: 488px 498px;
			background-repeat: no-repeat;
			text-shadow: 0px 4px 18px rgba(0, 0, 0, 0.2);
	    	-webkit-text-stroke: 2px transparent;
    		-webkit-background-clip: text;
    		-webkit-text-fill-color: transparent;
    		margin-bottom: 1px;
		}
		h5{
			line-height: 41px;
			font-weight: 700;
		}
	}
	.partner{
		width: 100%;
		height: 210px;
		float: left;
		display: block;
		position: relative;
		border: 1px solid #ECECEC;
		margin-bottom: 30px;
		&:hover{
			img{
				filter: grayscale(0%);
			}
		}
		img{
			width: auto;
			max-width: 100%;
			position: absolute;
			top: 50%;
			left: 50%;
			filter: grayscale(100%);
			-webkit-transition: all 0.3s ease;
    				transition: all 0.3s ease;
			-webkit-transform: translate(-50%, -50%);
                	transform: translate(-50%, -50%);
		}
	}
	.partners__block{
		width: 100%;
		float: left;
		margin-top: 470px;
	}
}
@media screen and (max-width: 1500px){
	.partners__section {
		.title__block {
			height: 300px;
			padding: 40px 0;
			h3{
				font-size: 120px;
				line-height: 160px;
			}
			h5{
				font-size: 28px;
				line-height: 34px;
			}
		}
		.partners__block{
			margin-top: 320px;
		}
	}
}
@include media-breakpoint-down(sm){
	.partners__section {
		.title__block{
			top: 0!important;
		}
		.partners__block{
			margin-top: 30px;
		}
	}
}
@include media-breakpoint-down(xs){
	.partners__section{
		padding: 50px 0; 
	}
}