.posts__row{
	margin-top: 30px;
	margin-bottom: 30px;
}
.post__block{
	width: 100%;
	float: left;
	display: block;
	position: relative;
	padding: 30px;
	margin-bottom: 65px;
	.image{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
		background-position: center;
		background-size: cover;
		-webkit-transition: all 2s linear;
				transition: all 2s linear;
	}
	.categories{
		position: relative;
		z-index: 2;
		.category,
		a{
			background-color: #FFFFFF;
		}
	}
	&:hover{
		.image{
			-webkit-transform: scale(1.1);
            		transform: scale(1.1);
		}
	}
	&.normal{
		padding: 0;
		margin-bottom: 40px;
		>*{
			pointer-events: none;
		}
		&:hover{
			h2{
				color: #FF6150;
			}
		}
		.thumbnail{
			width: 100%;
			height: 285px;
			float: left;
			background-position: center;
			background-size: cover;
			padding: 20px;
			margin-bottom: 12px;
			overflow: hidden;
			position: relative;
		}
		h2{
			width: 100%;
			min-height: 50px;
			float: left;
			margin-bottom: 0;
			font-size: 20px;
			line-height: 25px;
			color: #2C2C2D;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
		}
	}
	&.wide{
		height: 585px;
		position: relative;
		overflow: hidden;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.33%, #0E0C0C 102.05%);
			z-index: 1;
		}
		.content{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 70%;
			padding: 0 60px 60px;
			color: #fff;
			z-index: 2;
			h2{
				margin: 0 0 15px 0;
			}
			span{
				font-weight: 500;
				font-size: 20px;
				line-height: 25px;
				color: #FFFFFF;
				text-decoration: underline;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
				&:hover{
					color: #FF6150;
				}
			}
		}
	}
	&.big{
		height: 692px;
		position: relative;
		overflow: hidden;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			background: linear-gradient(180deg, rgba(0, 0, 0, 0) 74.33%, #0E0C0C 102.05%);
			z-index: 1;
		}
		.content{
			position: absolute;
			bottom: 0;
			left: 0;
			width: 70%;
			padding: 0 60px 60px;
			color: #fff;
			z-index: 2;
			h2{
				margin: 0 0 15px 0;
			}
			a{
				font-weight: 500;
				font-size: 20px;
				line-height: 25px;
				color: #FFFFFF;
				text-decoration: underline;
				&:hover{
					color: #FF6150;
				}
			}
		}
	}
}
.post__sidebar{
	width: 100%;
	min-height: 585px;
	float: left;
	border: 1px solid #ECECEC;
	padding: 25px;
	margin-bottom: 65px;
	h6{
		font-size: 25px;
		line-height: 31px;
		margin-bottom: 22px;
	}
	.post__row{
		width: 100%;
		min-height: 80px;
		float: left;
		margin-bottom: 15px;
		position: relative;
		.thumbnail{
			width: 160px;
			height: 80px;
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			background-size: cover;
			background-position: center;
		}
		.content{
			width: 100%;
			float: left;
			padding: 0 0 0 180px;
			h6{
				font-weight: 500;
				font-size: 16px;
				line-height: 20px;
				margin-bottom: 8px;
			}
			a{
				font-weight: 500;
				font-size: 14px;
				line-height: 18px;
				text-decoration: underline;
				color: #2C2C2D;
				&:hover{
					color: #FF6150;
				}
			}
		}
	}
}
.load__posts{
	width: 100%;
	padding: 36px 0 39px;
	float: left;
	font-weight: bold;
	font-size: 20px;
	line-height: 25px;
	color: #2C2C2D;
	text-align: center;
	display: block;
	background-color: #F6F6F6;
	// position: fixed;
	// bottom: 0;
	// left: 0;
	// width: 0;
	// height: 5px;
	// left: 50%;
 //    background-color: #FF6150;
 //    animation: loadingline 1.5s linear infinite;
 //    z-index: 10;
 //    opacity: 0;
 //    visibility: hidden;
 //    -webkit-transform: translateX(-50%);
 //    		transform: translateX(-50%);
    -webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&.load{
		opacity: 1;
		visibility: visible;
	}
	&:hover{
		text-decoration: underline;
		background-color: #EFEFEF;
	}
}
@keyframes loadingline {
    from { width: 0; }
    to { width: 100%; }
}
.post__title{
	width: 100%;
	float: left;
	h1{
		width: 100%;
		float: left;
		margin-bottom: 15px;
	}
}
.single-post{
	h1{
		font-size: 60px;
		line-height: 76px;
		margin-bottom: 15px;
	}
	h2{
		font-size: 37px;
		line-height: 47px;
		margin-bottom: 10px;
	}
	p{
		font-size: 16px;
		line-height: 24px;
		margin-bottom: 30px;
	}
	ul, ol{
		padding: 0 0 0 20px;
		margin: 0 0 30px 0;
		font-size: 20px;
		line-height: 25px;
		font-weight: 500;
		li{
			margin-bottom: 15px;
		}
	}
	blockquote{
		width: 100%;
		max-width: 1020px;
		background: #F9F9F9;
		padding: 40px 150px 50px 40px;
		position: relative;
		p{
			font-size: 20px;
			line-height: 25px;
			font-weight: 500;
			margin-bottom: 0;
		}
		&::before{
			content: '';
			width: 60px;
			height: 49px;
			display: block;
			position: absolute;
			top: -30px;
			left: 25px;
			background-image: url(../images/icons/quotes-before.svg);
		}
		&::after{
			content: '';
			width: 60px;
			height: 49px;
			display: block;
			position: absolute;
			bottom: -16px;
			right: 25px;
			background-image: url(../images/icons/quotes-after.svg);
		}
	}
}
section.content{
	padding: 0 0 45px;
}
section.two__images{
	padding: 0 0 45px;
	.image{
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
}
.post__slider{
	width: 100%;
	float: left;
	position: relative;
	padding: 0 0 145px;
}
.images__slider__section{
	.swiper-button-prev,
	.swiper-button-next{
		width: 29px;
		height: 30px;
		background: #313131;
		position: absolute;
		top: 50%;
		margin-top: -85px;
		z-index: 10;
		cursor: none;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&::after{
			content: '';
			width: 7px;
			height: 12px;
			position: absolute;
			display: block;
		}
		&:focus{
			outline: none;
		}
	}
	.swiper-button-prev{
		left: -35px;
		&::after{
			background-image: url(../images/icons/prev-slide.svg);
		}
	}
	.swiper-button-next{
		right: -35px;
		&::after{
			background-image: url(../images/icons/next-slide.svg);
		}
	}
	.swiper-pagination{
		width: 100%;
		float: left;
		left: 0;
		right: 0;
		bottom: 106px;
		.swiper-pagination-bullet{
			width: 25px;
			height: 4px;
			border-radius: 0;
			margin: 0 6px;
			opacity: 1;
			background: #DFDFDF;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			&.swiper-pagination-bullet-active{
				background: #313131;
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.post__block.wide .content{
		width: 100%;
		padding: 0 40px 60px;
	}
}
@include media-breakpoint-down(md){
	.post__block{
		&.wide{
			height: 450px;
		}
		&.normal{
			.thumbnail{
				height: 300px;
			}
		}
		&.big{
			height: 450px;
			margin-bottom: 30px;
			.content{
				width: 100%;
				padding: 0 40px 60px;
			}
		}
	}
	.posts__row{
		margin-bottom: 0;
	}
	.single-post {
		h1{
			font-size: 37px;
	    	line-height: 50px;
	    }
	    h2{
    	    font-size: 32px;
    		line-height: 38px;
	    }
	    h3{
    	    font-size: 28px;
    		line-height: 34px;
	    }
	    h4{
    	    font-size: 24px;
    		line-height: 30px;
	    }
	    h4{
    	    font-size: 20px;
    		line-height: 26px;
	    }
	    blockquote{
			padding: 40px 100px 50px 40px;
		}
	}
	.images__slider__section {
		.swiper-button-prev{
			left: 30px;
		}
		.swiper-button-next {
		    right: 30px;
		}
	}
}
@include media-breakpoint-down(xs){
	.categories .category, 
	.categories a{
		font-size: 12px;
	    line-height: 18px;
	    padding: 5px 7px 6px;
	    margin: 0 5px 5px 0;
	}
	.post__block{
		padding: 20px;
		&.wide{
			height: 300px;
			.content{
				padding: 0 20px 20px;
				h2{
				    font-size: 20px;
    				line-height: 25px;
				}
				span{
					font-size: 16px;
					left: 24px;
				}
			}
		}
		&.normal{
			.thumbnail{
				height: 250px;
			}
		}
		&.big{
			height: 300px;
			.content{
				padding: 0 20px 20px;
				h2{
					font-size: 20px;
					line-height: 25px;
				}
				span{
					font-size: 16px;
					left: 24px;
				}
				a{
					font-size: 16px;
				}
			}
		}
	}
	.load__posts{
	    padding: 16px 0 18px;
	}
	.post__title{
		.categories{
			margin-bottom: 20px;
		}
	}
	.single-post {
		h1{
			font-size: 28px;
    		line-height: 36px;
		}
		blockquote{
			padding: 40px 40px 50px 40px;
		}
	}
}