.price__form__section{
	padding: 85px 0 65px;
	&.red{
		background: rgba(255,97,80,0.15);
		.form__block .step{
			&.step__1 .field__group {
				.radio{
					background-color: #fff;
					border-color: transparent;
					&.checked{
						background: rgba(255,97,80,1);
						color: #fff;
						&::before{
							background: rgba(255,97,80,1);
						}
					}
					&::before{
						border-color: transparent;
					}
					input{
						&:checked + label{
							background: rgba(255,97,80,1);
						}
					}
				}
				.icons::after{
					background-image: url(../images/icons/checked-white.svg);
				}
			}
			&.step__2 .field__group{
				background-color: #fff;
				border-color: transparent;
			}
		}
		.steps__nav .line::before{
			background-color: #FF6E63;
		}
	}
	.nav__block{
		width: 100%;
		float: left;
		position: relative;
		a{
			width: 100%;
			float: left;
			position: relative;
			padding-left: 54px;
			display: block;
			font-size: 14px;
			line-height: 27px;
			letter-spacing: 0.035em;
			color: #2C2C2D;
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
			&::before{
				content: '';
				width: 39px;
				height: 27px;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				background-image: url(../images/icons/arrow-back.svg);
				-webkit-transition: all 0.3s ease;
        				transition: all 0.3s ease;
			}
			&:hover{
				opacity: 0.8;
				text-decoration: none;
				&::before{
					left: -10px;
				}
			}
		}
	}
	.form__block{
		width: 100%;
		float: left;
		form{
			width: 100%;
			float: left;
		}
		.title{
			width: 100%;
			float: left;
			margin-bottom: 40px;
			h5{
				margin-bottom: 0;
			}
		}
		.steps{
			width: 100%;
			float: left;
			text-align: center;
		}
		.name{
			width: 100%;
			float: left;
			h6{
				margin-bottom: 55px;
			}
		}
		.step{
			width: 100%;
			display: none;
			&.active{
				display: inline-block;
			}
		}
		.step {
			&.step__1{
				text-align: center;
				.field__group{
					width: 100%;
					float: left;
					.radio{
						width: 275px;
						height: 225px;
						margin: 0 15px 30px;
						display: inline-block;
						cursor: pointer;
						border: 1px solid #CACACA;
						position: relative;
						&::before{
							content: '';
							width: 30px;
							height: 30px;
							display: block;
							position: absolute;
							top: -15px;
							left: 50%;
							margin-left: -15px;
							border: 1px solid #CACACA;
							background-color: #fff;
							border-radius: 50%;
						}
						input{
							position: absolute;
							opacity: 0;
							cursor: pointer;
							height: 0;
							width: 0;
						}
						span{
							font-size: 20px;
							line-height: 25px;
							-webkit-transition: all 0.3s ease;
        							transition: all 0.3s ease;
						}
						input:checked{
							&~.icons {
								img{
									&:first-child{
			                			opacity: 0;
			                			visibility: hidden;
			                		}
			                		&:last-child{
			                			opacity: 1;
			                			visibility: visible;
			                		}
			                	}
		                		&::after{
		                			opacity: 1;
		                			visibility: visible;
		                		}
							}
						}
					}
					.icons{
						width: 100px;
						height: 100px;
						display: block;
						position: relative;
						margin: 42px auto 22px;
						&::after{
							content: '';
							width: 16px;
							height: 12px;
							display: block;
							background-image: url(../images/icons/checked.svg);
							position: absolute;
							top: -48px;
							left: 50%;
							margin-left: -8px;
							opacity: 0;
							visibility: hidden;
							-webkit-transition: all 0.3s ease;
	        						transition: all 0.3s ease;
						}
						img{
							position: absolute;
							top: 50%;
							left: 50%;
							-webkit-transform: translate(-50%, -50%);
	                				transform: translate(-50%, -50%);
	                		-webkit-transition: all 0.3s ease;
	        						transition: all 0.3s ease;
	                		&:first-child{
	                			opacity: 1;
	                			visibility: visible;
	                		}
	                		&:last-child{
	                			opacity: 0;
	                			visibility: hidden;
	                		}
						}
					}
				}
			}
			&.step__2{
				width: 100%;
				max-width: 893px;
				.field__group{
					width: 100%;
					float: left;
					padding: 66px 40px 67px;
					border: 1px solid #CACACA;
					text-align: center;
					label{
						display: inline-block;
						text-align: left;
						margin-bottom: 20px;
						padding: 0 9px;
						vertical-align: top;
						position: relative;
						.field__error{
							position: absolute;
						    left: 9px;
						    bottom: -20px;
						    font-size: 12px;
						    color: #FF6150;
						}
						.title{
							font-weight: bold;
							font-size: 14px;
							line-height: 18px;
							color: #2C2C2D;
							margin-bottom: 4px;
						}
						&:nth-child(1){
							max-width: 213px;
						}
						&:nth-child(2){
							max-width: 148px;
						}
						&:nth-child(3){
							max-width: 258px;
						}
					}
				}
			}
		}
	}
	.steps__nav{
		width: 100%;
		float: left;
		text-align: center;
		.buttons{
			width: 100%;
			float: left;
			margin: 48px 0 0;
		}
		.line{
			width: 100%;
			max-width: 450px;
			height: 2px;
			display: inline-block;
			position: relative;
			border-radius: 5px;
			overflow: hidden;
			margin: 43px 0 11px 0;
			background-color: rgba(44,44,45, 0.08);
			&::before{
				content: '';
				width: 100%;
				height: 100%;
				position: absolute;
				display: block;
				border-radius: 5px;
				background-color: #CACACA;
				top: 0;
				left: -50%;
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
		}
		&.step__1{
			.form__submit{
				display: none;
			}
		}
		&.step__2 {
			.next__step{
				display: none;
			}
			.line::before{
				left: 0;
			}
		}
		.text{
			font-weight: 500;
			font-size: 14px;
			line-height: 18px;
			color: #2C2C2D;
		}
	}
	.step__nav,
	.form__submit{
		display: inline-block;
		vertical-align: middle;
		margin: 0 14px;
		min-width: 79px;
		height: 48px;
		padding: 14px 29px 16px;
		border-radius: 32px;
		font-weight: bold;
		font-size: 14px;
		line-height: 18px;
		position: relative;
		background: #FF6150;
		border: 1px solid #F5F5F5;
		color: #fff;
		-webkit-transition: all 0.3s ease;
				transition: all 0.3s ease;
		&.disabled{
			pointer-events: none;
			cursor: none;
			background: #F5F5F5;
			border: 1px solid #F5F5F5;
			color: rgba(130,130,130,0.4);
		}
		&.next__step{
			padding: 14px 60px 16px 29px;
			&.disabled::after{
				background-image: url(../images/icons/icon-next.svg);
			}
			&::after{
				content: '';
				width: 25px;
				height: 20px;
				top: 14px;
				right: 14.5px;
				display: block;
				position: absolute;
				background-image: url(../images/icons/icon-next-white.svg);
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
		}
		&.prev__step{
			&.disabled::after{
				background-image: url(../images/icons/icon-prev.svg);
			}
			&::after{
				content: '';
				display: block;
				width: 25px;
				height: 20px;
				top: 14px;
				left: 27px;
				position: absolute;
				background-image: url(../images/icons/icon-prev-white.svg);
				-webkit-transition: all 0.3s ease;
						transition: all 0.3s ease;
			}
		}
		&:focus{
			outline: none;
		}
	}
}
.form__field{
	width: 100%;
	height: 48px;
	padding: 14px 15px 16px;
	border: 1px solid #CACACA;
	border-radius: 5px;
	font-size: 14px;
	line-height: 18px;
	color: #2C2C2D;
	-webkit-transition: all 0.3s ease;
			transition: all 0.3s ease;
	&:focus{
		outline: none;
		border-color: #2C2C2D;
	}
}
.form__response{
	width: 100%;
	float: left;
    text-align: center;
    margin: 40px 0 0;
    div{
    	width: 100%;
	    max-width: 500px;
	    margin: auto;
	    border-radius: 5px;
	    padding: 20px;
	    font-size: 16px;
	    line-height: 22px;
	    font-weight: 700;
	    color: #fff;
	    &.form__success{
	    	background-color: rgba(0,165,0,0.7);
	    }
	    &.form__error{
	    	background-color: #FF6150;
	    }
    }
}
@media screen and (max-width: 1770px){
	.price__form__section .form__block .step.step__1 .field__group .radio{
		width: 230px;
		height: 215px;
		span{
			font-size: 18px;
			line-height: 22px;
		}
	}
}
@media screen and (max-width: 1540px){
	.price__form__section .form__block .step{
		&.step__1 .field__group {
			.radio{
				width: 210px;
				height: 215px;
				span{
					font-size: 18px;
					line-height: 22px;
				}
			}
		}
		&.step__2 .field__group {
			label{
				&:nth-child(1),
				&:nth-child(2),
				&:nth-child(3){
					max-width: 100%;
					width: 100%;
				}
			}
		}
	}
}
@include media-breakpoint-down(md){
	// .price__form__section .form__block .step.step__2 .field__group label{
	// 	&:nth-child(1),
	// 	&:nth-child(2),
	// 	&:nth-child(3){
	// 		max-width: 100%;
	// 		width: 100%;
	// 	}
	// }
}
@include media-breakpoint-down(sm){

}
@include media-breakpoint-down(xs){
	.price__form__section .nav__block{
		margin: 20px 0;
	}
	.price__form__section .form__block .step.step__2 .field__group{
	    padding: 30px 20px 30px;
	}
	.price__form__section .form__block .title h5{
		font-size: 24px;
    	line-height: 32px;
	}
	.price__form__section .form__block .name h6{
		font-size: 20px;
		line-height: 24px;
	}
}