.projects__blocks{
	padding: 90px 0;
	.logo__group{
		width: 100%;
		float: left;
		padding: 0 0 30px 84px;
		.img{
			float: left;
			margin:23px 100px 0 0;
		}
		.text__group{
			float: left;
		}
		h2{
			margin-top: -45px;
			margin-bottom: 0;
		}
	}
	.project__title{
		width: 100%;
		float: left;
		padding: 0 15px;
		position: relative;
		z-index: 1;
		&.wide{
			margin-top: 517px;
			.line{
				width: 390px;
				height: 4px;
				display: block;
				position: absolute;
				bottom: -40px;
				left: 120px;
				background-color: #FF6150;
				z-index: 1;
				// -webkit-transition: all 0.5s ease;
				// 		transition: all 0.5s ease;
			}
		}
		&.tall{
			margin-top: 602px;
			.line{
				width: 242px;
				height: 4px;
				display: block;
				position: absolute;
				bottom: -40px;
				left: -130px;
				background-color: #FF6150;
				z-index: 1;
				// -webkit-transition: all 0.5s ease;
				// 		transition: all 0.5s ease;
			}
		}
		span,
		h5{
			pointer-events: none;
			color: #2C2C2D;
			-webkit-transition: all 0.5s ease;
					transition: all 0.5s ease;
		}
		span{
			display: block;
			margin-bottom: 2px;
			font-size: 20px;
			line-height: 25px;
		}
		h5{
			margin-bottom: 0;
			line-height: 47px;
			font-weight: 700;
		}
		&:hover{
			text-decoration: none;
			span,
			h5{
				color: #FF6150;
			}
			// &.wide,
			// &.tall{
			// 	.line{
			// 		left: 15px;
			// 	}
			// }
		}
	}
	.project__thumbnail{
		width: 100%;
		float: left;
		margin: 120px 0;
		position: relative;
		&::before{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background-color: #fff;
			-webkit-transition: all 0.7s ease;
					transition: all 0.7s ease;
		}
		&.tall{
			&.show__image{
				&::before{
					left: 100%;
				}
			}
		}
		&.wide{
			&.show__image{
				&::before{
					left: -100%;
				}
			}
		}
		img{
			pointer-events: none;
			width: 100%;
			height: auto;
		}

	}
}
.text__overflow{
	overflow: hidden;
}
@media screen and (max-width: 1900px){
	.projects__blocks .logo__group {
		.img{
			width: 730px;
			margin: 16px 65px 0 0;
		}
		h3{
			font-size: 50px;
			line-height: 70px;
			margin-bottom: 10px;
		}
		h2.h1{
			font-size: 100px;
			line-height: 160px;
		}
	}
}
@media screen and (max-width: 1500px){
	.projects__blocks .logo__group {
		padding: 0 0 30px 0;
		.img{
		    margin: 16px 40px 0 0;
			width: 600px;
		}
		h3{
			font-size: 40px;
			line-height: 60px;
		}
		h2.h1{
			margin-top: -20px;
		    font-size: 70px;
    		line-height: 100px;
		}
	}
}
@include media-breakpoint-down(lg){
	.projects__blocks {
		.project__thumbnail{
			margin: 60px 0;
		}
		.project__title{
			&.wide{
				margin-top: 300px;
			}
			&.tall{
				margin-top: 350px;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.projects__blocks {
		.logo__group {
			margin-bottom: 50px;
			.img{
				width: 440px;
			}
			h3{
				font-size: 32px;
				line-height: 40px;
				margin-top: 5px;
			}
			h2.h1{
				margin-top: -18px;
			    font-size: 52px;
	    		line-height: 74px;
			}
		}
		.project__title{
			&.wide{
				margin-top: 20px;
				margin-bottom: 40px;
			}
			&.tall{
				margin-top: 20px;
				margin-bottom: 100px;
			}
		}
		.project__thumbnail{
			margin: 40px 0;
		}
	}
}
@include media-breakpoint-down(sm){
	.projects__blocks .logo__group {
		.img{
			width: 100%;
			margin: 16px 0 20px 0;
		}
		.text__group{
			width: 100%;
			.text__overflow{
				float: left;
				margin-right: 15px;
			}
		}
		h3{
			margin-bottom: 0;
			margin-top: 25px;
		}
		h2.h1{
			margin-top: 0;
		}
	}
}
@include media-breakpoint-down(xs){
	.projects__blocks .logo__group .img{
	    margin: 16px 0 10px;
	}
}