.projects__nav{
	width: 100%;
	float: left;
	position: relative;
	.view__bar{
		position: absolute;
		left: 0;
		top: 0;
		font-size: 14px;
		line-height: 18px;
		color: #2C2C2D;
		>div{
			float: left;
			margin-right: 30px;
			position: relative;
			padding-left: 35px;
			cursor: pointer;
			-webkit-transition: all 0.3s ease;
    				transition: all 0.3s ease;
			&::before{
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				-webkit-transition: all 0.3s ease;
    					transition: all 0.3s ease;
			}
			&.active,
			&:hover{
				color: #FF6150;
			}
		}
		.slider{
			&::before{
				width: 29px;
				height: 13px;
				background-image: url(../images/icons/slider.svg);
				top: 2px;
			}
			&.active::before,
			&:hover::before{
				background-image: url(../images/icons/slider-hover.svg);
			}
		}
		.grid{
			padding-left: 26px;
			&::before{
				width: 22px;
				height: 16px;
				background-image: url(../images/icons/grid.svg);
				top: 1px;
			}
			&.active::before,
			&:hover::before{
				background-image: url(../images/icons/grid-hover.svg);
			}
		}
	}
	.projects__menu{
		width: 100%;
		float: left;
		ul{
			margin: 0;
			padding: 0;
			list-style: none;
			line-height: 1;
			text-align: center;
			li{
				display: inline-block;
				margin: 0 7px;
				&.current-menu-item{
					a{
						color: #FF6150;
					}
				}
				a{
					font-size: 14px;
					line-height: 18px;
					color: #2C2C2D;
					padding: 5px 15px;
					&:hover{
						text-decoration: none;
						color: #FF6150;
					}
				}
			}
		}
	}
}
.archive__slider{
	width: 100%;
	float: left;
	margin-top: 40px;
	opacity: 0!important;
	visibility: hidden;
	position: absolute;
	top: 50px;
	-webkit-transition: all 0.5s ease!important;
			transition: all 0.5s ease!important;
	&.active{
		top: 0;
		opacity: 1!important;
		visibility: visible;
		position: relative;
	}
	&.swiper-container{
		overflow: visible;
	}
	.swiper-slide{
		width: 100%;
		height: 600px;
		&.swiper-slide-active{
			.project__block .content{
				opacity: 1;
				visibility: visible;
				right: 80px;
			}
		}
	}
	.project__block{
		width: 100%;
		height: 600px;
		position: relative;
		float: left;
		background-position: center;
		background-size: cover;
		box-shadow: 0px 25.3247px 50.6493px rgba(0, 0, 0, 0.25);
		&::after{
			content: '';
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			background-color: rgba(16,14,14,0.3);
			z-index: 0;
		}
		.content{
			width: 360px;
			position: absolute;
			bottom: 85px;
			right: 400px;
			color: #fff;
			opacity: 0;
			z-index: 1;
			visibility: hidden;
			-webkit-transition: all 1s ease 0.7s;
					transition: all 1s ease 0.7s;
			p{
				font-size: 20px;
				line-height: 25px;
				color: #fff;
				margin: 0;
			}
			h5{
				font-size: 37px;
				line-height: 47px;
				margin-bottom: 9px;
			}
			span{
				font-size: 20px;
				line-height: 25px;
				color: #FFFFFF;
				position: relative;
				-webkit-transition: all 0.3s ease;
    					transition: all 0.3s ease;
				&:hover{
					text-decoration: none;
					color: #FF6150;
					&::before{
						left: 100%;
						margin-left: -65px;
						background-color: #FF6150;
					}
				}
				&::before{
					content: '';
					width: 65px;
					height: 1px;
					display: block;
					position: absolute;
					bottom: -5px;
					left: 0;
					background-color: #fff;
					-webkit-transition: all 0.3s ease;
    						transition: all 0.3s ease;
				}
			}
		}
	}
}
.projects__count{
	width: 100%;
	float: left;
	margin: 80px 0 20px;
	text-align: center;
	color: rgba(44,44,45,0.6);
	position: relative;
	&::before{
		content: '';
		width: 9px;
		height: 46px;
		display: block;
		position: absolute;
		left: 50%;
		top: -57px;
		margin-left: -4.5px;
		background-image: url(../images/icons/scroll.svg);
	}
}
.archive__grid{
	width: 100%;
	float: left;
	opacity: 0;
	margin: 40px 0 96px;
	visibility: hidden;
	position: absolute;
	top: 50px;
	-webkit-transition: all 0.5s ease;
			transition: all 0.5s ease;
	&.active{
		top: 0;
		opacity: 1;
		visibility: visible;
		position: relative;
	}
	.project__block{
		width: 100%;
		height: 370px;
		position: relative;
		float: left;
		background-position: center;
		background-size: cover;
		box-shadow: 0px 15.5844px 31.1688px rgba(0, 0, 0, 0.25);
		margin-bottom: 30px;
		&:hover{
			.content{
				opacity: 1;
				visibility: visible;
				bottom: 58px;
			}
		}
		.content{
			width: 100%;
			position: absolute;
			bottom: 0;
			padding: 0 30px 0 50px;
			color: #fff;
			opacity: 0;
			visibility: hidden;
			-webkit-transition: all 0.3s ease;
					transition: all 0.3s ease;
			p{
				font-size: 20px;
				line-height: 25px;
				color: #fff;
				margin: 0;
			}
			h5{
				font-size: 37px;
				line-height: 47px;
				margin-bottom: 9px;
			}
			span{
				font-size: 20px;
				line-height: 25px;
				color: #FFFFFF;
				position: relative;
				-webkit-transition: all 0.3s ease;
    					transition: all 0.3s ease;
				&:hover{
					text-decoration: none;
					color: #FF6150;
					&::before{
						left: 100%;
						margin-left: -65px;
						background-color: #FF6150;
					}
				}
				&::before{
					content: '';
					width: 65px;
					height: 1px;
					display: block;
					position: absolute;
					bottom: -5px;
					left: 0;
					background-color: #fff;
					-webkit-transition: all 0.3s ease;
    						transition: all 0.3s ease;
				}
			}
		}
	}
}
@media screen and (max-height: 800px){
	.archive__slider .swiper-slide{
		height: 400px;
		.project__block{
			height: 400px;
			.content{
				bottom: 50px;
				h5{
					font-size: 30px;
					line-height: 42px;
					margin-bottom: 5px;
				}
				p{
					font-size: 18px;
					line-height: 22px;
				}
				a{
					font-size: 16px;
    				line-height: 22px;
				}
			}
		}
	}
	.archive__grid .project__block .content{
	    padding: 0 30px 0 30px;
	    h5{
			font-size: 30px;
			line-height: 42px;
			margin-bottom: 5px;
		}
	    p{
			font-size: 18px;
			line-height: 22px;
		}
		a{
			font-size: 16px;
			line-height: 22px;
		}
	}
}
@media screen and (max-width: 1500px){
	.projects__nav {
		.view__bar{
			position: static;
			float: left;
		}
		.projects__menu{
			width: auto;
		}
	}
}
@include media-breakpoint-down(md){
	.projects__nav {
		.view__bar{
			width: 100%;
			float: left;
			position: static;
			margin-bottom: 20px;
		}
		.projects__menu ul{
			text-align: left;
			li{
				margin: 0 20px 10px 0;
				a{
					padding: 5px 0;
				}
			}
		}
	}
	.archive__slider{
		margin-top: 30px;
		.swiper-slide{
			height: 350px;
			.project__block{
				height: 350px;
				.content{
					right: 0;
					width: 100%;
					padding: 0 30px;
				}
			}
			&.swiper-slide-active{
				.project__block{
					.content{
						right: 0;
					}
				}
			}
		}
	}
	.archive__grid .project__block .content{
		opacity: 1;
		visibility: visible;
		bottom: 58px;
	}
}