.projects__section{
	padding-top: 22px;
	.title{
		width: 100%;
		float: left;
		margin-bottom: 23px;
		h1{
			font-size: 60px;
			font-weight: 500;
			line-height: 76px;
			color: #2C2C2D;
			display: inline-block;
			margin-right: 10px;
			margin-bottom: 0;
		}
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline-block;
			li{
				position: absolute;
				opacity: 0;
				top: -20px;
				font-size: 60px;
				font-weight: 500;
				line-height: 76px;
				-webkit-transition: all 0.3s ease;
    					transition: all 0.3s ease;
				&.active{
					opacity: 1;
					top: 0;
				}
				&.prev{
					opacity: 0;
					top: 20px;
				}
				&.red{
					color: #FF6150;
				}
				&.green{
					color: #56BC56;
				}
				&.blue{
					color: #24C6CC;
				}
			}
		}
	}
	.categories__nav{
		width: 100%;
		float: left;
		margin-bottom: 167px;
		ul{
			padding: 0;
			margin: 0;
			list-style: none;
			li{
				float: left;
				margin-right: 30px;
				a{
					display: block;
					float: left;
					font-size: 20px;
					line-height: 25px;
					color: #2C2C2D;
					position: relative;
					overflow: hidden;
					padding-bottom: 3px;
					-webkit-transition: all 0.3s ease;
        					transition: all 0.3s ease;
					&:hover{
						text-decoration: none;
						&::before{
							left: 0;
						}
					}
					&::after{
						content: '';
						width: 100%;
						height: 1px;
						background-color: #C4C4C4;
						display: block;
						position: absolute;
						bottom: 0;
						left: 0;
					}
					&::before{
						content: '';
						width: 100%;
						height: 1px;
						background-color: #FF6150;
						display: block;
						position: absolute;
						bottom: 0;
						left: -100%;
						z-index: 1;
						-webkit-transition: all 0.3s ease;
            					transition: all 0.3s ease;
					}
				}
			}
		}
	}
}
.scrollbar{
	width: 75px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	right: 0;
	bottom: 0;
	.icon{
		width: 9px;
		height: 46px;
		display: block;
		background-image: url(../images/icons/scroll.svg);
	}
	.text{
		bottom: 102px;
		left: -47px;
		position: absolute;
		white-space: nowrap;
		-webkit-transform: rotate(-90deg);
    			transform: rotate(-90deg);
	}
	.content{
		position: absolute;
		bottom: 300px;
		left: 32px;
	}
}
.projects__slider{
	width: 100%;
	float: left;
	.swiper-slide{
		width: 100%;
		height: 80vh;
		max-height: 780px;
		float: left;
		background-position: center;
		background-size: cover;
		&:focus{
			outline: none;
		}
	}
}
.letter {
  display: inline-block;
  position: relative;
  float: left;
  transform: translateZ(25px);
  transform-origin: 50% 50% 25px;
}

.letter.out {
  transform: rotateX(90deg);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  transform: rotateX(-90deg);
}

.letter.in {
  transform: rotateX(0deg);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.social__links{
	position: fixed;
	left: 75px;
	bottom: 50px;
	z-index: 1;
	ul{
		padding: 0!important;
		margin: 0!important;
		list-style: none;
		li{
			display: block;
			margin-top: 22px;
			a{
				display: block;
				width: 23px;
				height: 23px;
				background-position: center;
				background-repeat: no-repeat;
				-webkit-transition: all 0.5s ease;
    					transition: all 0.5s ease;
				&:hover{
					opacity: 0.6;
					-webkit-transform: scale(1.2) rotate(360deg);
                			transform: scale(1.2) rotate(360deg);
				}
				&.instagram{
					background-image: url(../images/icons/instagram.svg);
				}
				&.behance{
					background-image: url(../images/icons/behance.svg);
				}
				&.facebook{
					background-image: url(../images/icons/facebook.svg);
				}
			}
		}
	}
}
@media screen and (max-width: 1600px){
	.projects__section {
		.title {
			h1{
				font-size: 42px;
				line-height: 58px
			}
			ul{
				li{
					font-size: 42px;
					line-height: 58px
				}
			}
		}
		.categories__nav {
			ul li a{
				font-size: 18px;
				line-height: 22px;
			}
		}
	}
}
@media screen and (max-height: 800px){
	.projects__section .categories__nav{
		margin-bottom: 100px;
	}
}
@include media-breakpoint-down(lg){
	.projects__section .title {
		h1{
			font-size: 32px;
			line-height: 46px;
			margin-right: 6px;
		}
		ul{
			li{
				font-size: 32px;
				line-height: 46px;
			}
		}
	}
}
@include media-breakpoint-down(md){
	.social__links{
		left: 30px;
	}
	.projects__slider .swiper-slide{
		height: 450px;
	}
}
@include media-breakpoint-down(sm){
	.projects__section {
		.title {
			h1{
				font-size: 24px;
				line-height: 32px;
				margin-right: 6px;
			}
			ul{
				li{
					font-size: 24px;
					line-height: 32px;
				}
			}
		}
		.categories__nav{
			margin-bottom: 60px;
		}
	}
	.projects__slider .swiper-slide{
		height: 350px;
	}
}
@include media-breakpoint-down(xs){
	.projects__section {
		.title {
			margin-bottom: 50px;
			ul{
				width: 100%;
				position: relative;
				top: -15px;
			}
		}
		.categories__nav ul li {
			margin-right: 15px;
			a{
				font-size: 16px;
			}
		}
	}
	.scrollbar{
		display: none;
	}
	.nopadding.left{
		padding-right: 30px;
	}
	.projects__slider .swiper-slide{
		height: 250px;
	}
	.social__links {
		bottom: 20px;
		ul li{
			margin-top: 15px;
		}
	}
}