.project__title{
	width: 100%;
	float: left;
	padding: 53px 0 55px 0;
	.location{
		font-size: 20px;
		line-height: 25px;
		margin-bottom: 18px;
		color: #2C2C2D;
	}
	h1{
		font-weight: 700;
		margin-bottom: 0;
	}
	.nav__block{
		width: 100%;
		float: left;
		position: relative;
		a{
			width: 100%;
			float: left;
			position: relative;
			padding-left: 54px;
			display: block;
			font-size: 14px;
			line-height: 27px;
			letter-spacing: 0.035em;
			color: #2C2C2D;
			-webkit-transition: all 0.3s ease;
        			transition: all 0.3s ease;
			&::before{
				content: '';
				width: 39px;
				height: 27px;
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				background-image: url(../images/icons/arrow-back.svg);
				-webkit-transition: all 0.3s ease;
        				transition: all 0.3s ease;
			}
			&:hover{
				opacity: 0.8;
				text-decoration: none;
				&::before{
					left: -10px;
				}
			}
		}
	}
	.title{
		width: 100%;
		float: left;
		margin-bottom: 141px;
	}
	.banner{
		width: 100%;
		float: left;
		position: relative;
		&::before{
			content: '';
			width: 4px;
			height: 191px;
			display: block;
			background: #FF6150;
			position: absolute;
			right: 490px;
			top: -95px;
		}
		img{
			width: 100%;
			height: auto;
		}
	}
}
.project__details{
	width: 100%;
	float: left;
	padding: 55px 0;
	.text{
		width: 100%;
		float: left;
		padding-top: 85px;
		h5{
			margin-bottom: 10px;
		}
		p{
			font-size: 16px;
			line-height: 23px;
			color: #2C2C2D;
		}
	}
	.details{
		width: 100%;
		float: left;
		border: 1px solid #ECECEC;
		padding: 35px 60px 45px;
		.detail__row{
			width: 100%;
			float: left;
			position: relative;
			padding: 20px 0 20px 58px;
			&::before{
				content: '';
				width: 40px;
				height: 40px;
				display: block;
				position: absolute;
				left: 0;
				top: 50%;
				margin-top: -20px;
				background-repeat: no-repeat;
				background-position: center;
			}
			&.square::before{
				background-image: url(../images/icons/square.svg);
			}
			&.style::before{
				background-image: url(../images/icons/style.svg);
			}
			&.type::before{
				background-image: url(../images/icons/type.svg);
			}
		}
		.label{
			font-size: 20px;
			line-height: 25px;
			color: #828282;
		}
		.value{
			font-size: 25px;
			font-weight: 700;
			line-height: 31px;
			color: #2C2C2D;
			margin-top: -3px;
		}
	}
}
.image__section{
	padding: 55px 0 70px;
}
.images__section{
	padding: 70px 0 75px;
	position: relative;
	&::before{
		content: 'Rooom';
		font-size: 344.626px;
		line-height: 434px;
		letter-spacing: 0.015em;
		color: #FDFDFD;
		text-shadow: 0px 13px 30px rgba(210, 210, 210, 0.3);
		position: absolute;
		top: 164px;
		left: 150px;
	}
	.title{
		width: 100%;
		float: left;
		margin-top: 486px;
		h3{
			line-height: 69px;
			color: #2C2C2D;
			float: left;
			position: relative;
			&::after{
				content: '';
				display: inline-block;
				width: 61px;
				height: 42px;
				margin-left: 20px;
				background-image: url(../images/icons/arrow-next.svg);
			}
		}
	}
}
.images__slider{
	width: 100%;
	float: left;
	overflow: visible!important;
	.swiper-slide{
		width: 100%;
		height: 730px;
		background-position: center;
		background-size: cover;
		position: relative;
		box-shadow: 0px 25px 40px rgba(0, 0, 0, 0.2);
	}
	.count{
		position: absolute;
		top: 14px;
		left: -50px;
		font-size: 20px;
		line-height: 25px;
		color: #2C2C2D;
		-webkit-transform: rotate(-90deg);
    			transform: rotate(-90deg);
	}
}
.text__image__section{
	padding: 40px 0 25px;
	.text{
		width: 100%;
		float: left;
		margin-bottom: 35px;
		p{
			font-size: 16px;
			line-height: 23px;
			color: #2C2C2D;
		}
	}
	.image{
		margin-bottom: 30px;
	}
}
.third__image__section{
	padding: 55px 0 25px;
	.image{
		margin-bottom: 30px;
	}
}
.half__small__image__section{
	padding: 55px 0 25px;
	.image{
		width: 100%;
		float: left;
		margin-bottom: 30px;
	}
	.small__image{
		width: 100%;
		float: left;
		margin-bottom: 30px;
		&:last-child{
			margin-bottom: 0;
		}
	}
}
.next__post__section{
	padding: 215px 0 234px;
	position: relative;
	&::before{
		content: '';
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: rgba(52, 52, 52, 0.7);
		z-index: 1;
	}
	&::after{
		content: '';
		width: 4px;
		height: 191px;
		display: block;
		background: #FF6150;
		position: absolute;
		right: 490px;
		top: -95px;
		z-index: 2;
	}
	.text{
		width: 100%;
		float: left;
		position: relative;
		z-index: 2;
		a{
			margin-bottom: 0;
			font-size: 120px;
			font-weight: 700;
			line-height: 151px;
			letter-spacing: 0.015em;
			background-image: -webkit-linear-gradient(left, #fff 1%, #fff 100%);
			background-repeat: no-repeat;
			background-position: -800px 0;
			background-size: cover;
			-webkit-text-stroke: 2px #fff;
			-webkit-text-fill-color: transparent;
			-webkit-background-clip: text;
			-webkit-transition: all 0.8s ease;
    		transition: all 0.8s ease;
			&:hover{
				-webkit-text-stroke: 2px #fff;
				background-position: 0 0;
				text-decoration: none;
			}
		}
	}
}
@include media-breakpoint-down(lg){
	.project__details .details{
		padding: 35px 30px 45px;
	}
	.images__section .title{
		margin-top: 300px;
		h3{
			font-size: 52px;
			line-height: 64px;
		}
	}
}
@include media-breakpoint-down(md){
	.project__title {
		.title{
			margin-bottom: 50px;
		}
		.nav__block{
			margin-bottom: 50px;
		}
	}
	.project__details{
		padding: 30px 0px;
		.text{
			padding-top: 0;
		}
		.details{
			margin-top: 30px;
		}
	}
	.image__section{
		padding: 50px 0 30px;
	}
	.images__section{
		padding: 50px 0;
		.title{
			margin-top: 0;
			margin-bottom: 30px;
		}
	}
	.images__slider{
		padding: 0 0 0 40px;
		.swiper-slide{
			height: 500px;
		}
	}
	.next__post__section{
		padding: 100px 0 120px;
		.text{
			a{
				font-size: 60px;
				line-height: 72px;
			}
		}
	}
}
@include media-breakpoint-down(xs){
	.images__slider .swiper-slide{
		height: 300px;
	}
	.project__title {
		padding: 53px 0 30px;
		h1{
			font-size: 28px;
			line-height: 36px;
		}
	}
	.project__details .details {
		padding: 20px 30px 20px;
		.detail__row{
		    padding: 10px 0 10px 58px;
		}
		.label{
			font-size: 18px;
			line-height: 24px;
		}
		.value{
			font-size: 20px;
			line-height: 28px;
		}
	}
}