.rooom__section{
	height: 200vh;
	overflow: hidden;
	&.fixed{
		.content{
			position: fixed;
			top: 0;
			left: 0;
		}
	}
	.content{
		width: 100%;
		float: left;
		height: 100vh;
		position: relative;
	}
	.title{
		width: 100%;
		float: left;
		position: absolute;
		top: 50%;
		left: 0;
		-webkit-transition: all 0.3s linear;
				transition: all 0.3s linear;
		-webkit-transform: translateY(-50%);
            	transform: translateY(-50%);
		h2{
			width: 100%;
			font-size: 422.167px;
			font-weight: 700;
			line-height: 532px;
			letter-spacing: 0.015em;
			color: #FF6150;
			text-transform: uppercase;
			margin-bottom: 0;
			-webkit-transition: all 0.3s linear;
					transition: all 0.3s linear;
		}
	}
	.contact__block{
		width: 100%;
		float: left;
		position: absolute;
		top: 50%;
		left: 0;
		-webkit-transform: translateY(-50%);
            	transform: translateY(-50%);
		h3{
			font-weight: 700;
			margin-bottom: 51px;
			color: #fff;
		}
		.contact{
			width: 100%;
			float: left;
			opacity: 0;
			-webkit-transform: scale(0.6);
            		transform: scale(0.6);
			a{
				width: 100%;
				display: block;
				font-size: 37px;
				font-weight: 700;
				line-height: 47px;
				margin-bottom: 28px;
				color: #fff;
				&:hover{
					color: #2C2C2D;
					text-decoration: none;
				}
			}
			button{
				margin-top: 22px;
			}
		}
	}
}
@media screen and (max-width: 1500px){
	.rooom__section .title h2{
		font-size: 320px;
		line-height: 400px;
	}
}
@include media-breakpoint-down(lg){
	.rooom__section .title h2{
		font-size: 240px;
		line-height: 320px;
	}
}
@include media-breakpoint-down(md){
	.rooom__section .title h2{
		font-size: 180px;
		line-height: 240px;
	}
}
@include media-breakpoint-down(sm){
	.rooom__section .title h2{
		font-size: 120px;
		line-height: 180px;
	}
}
@include media-breakpoint-down(xs){
	.rooom__section {
		.title h2{
			font-size: 60px;
			line-height: 80px;
		}
		.contact__block {
			h3{
				font-size: 32px;
				line-height: 42px;
				margin-bottom: 30px;
			}
			.contact{
				a{
					font-size: 24px;
					line-height: 32px;
	   				margin-bottom: 15px;
				}
			}
		}
	}
}