.testimonials__section{
	padding: 30px 0;
}
.testimonials__slider{
	width: 100%;
	float: left;
	padding: 63px 0 95px 271px;
	position: relative;
	>*{
		pointer-events: none;
	}
	a{
		pointer-events: auto;
	}
	&::before{
		content: '';
		width: 60px;
		height: 49px;
		display: block;
		position: absolute;
		top: -50px;
		left: 25%;
		background-image: url(../images/icons/quotes-before.svg);
	}
	&::after{
		content: '';
		width: 60px;
		height: 49px;
		display: block;
		position: absolute;
		bottom: 0;
		left: 54.5%;
		background-image: url(../images/icons/quotes-after.svg);
	}
	.swiper-slide{
		width: 100%;
		float: left;
		padding-left: 104px;
	}
	.content{
		width: 100%;
		min-height: 415px;
		padding: 80px 115px 85px 70px;
		float: left;
		border: 1px solid #ECECEC;
		position: relative;
	}
	.avatar{
		position: absolute;
		width: 125px;
		height: 125px;
		display: block;
		top: -64px;
		left: -60px;
		border-radius: 50%;
		background-size: cover;
		background-position: center;
		box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.15);
	}
	.text{
		font-weight: 500;
		font-size: 20px;
		line-height: 25px;
		color: #2C2C2D;
	}
	.details{
		width: 100%;
		float: left;
		position: absolute;
		bottom: 85px;
		padding: 0 70px;
		left: 0;
		color: #828282;
		font-size: 20px;
		line-height: 25px;
		.author{
			margin-right: 39px;
		}
		a{
			color: #828282;
			text-decoration: underline;
			&:hover{
				color: #FF6150;
			}
		}
	}
}
@media screen and (max-width: 1500px){
	section .section__title{
		margin-bottom: 50px;
		.h1{
			font-size: 120px;
			line-height: 160px;
		}
	}
	.testimonials__slider{
		padding: 63px 0 95px 150px;
		.content{
			padding: 80px 40px 50px 70px;
		}
		.swiper-slide{
			padding-left: 90px;
		}
	}
}
@include media-breakpoint-down(lg){
	section .section__title{
		.h1{
			font-size: 80px;
			line-height: 120px;
		}
	}
	.testimonials__slider{
		padding: 63px 0 95px 75px;
	}
}
@include media-breakpoint-down(md){
	section .section__title{
		.h1{
			font-size: 64px;
			line-height: 78px;
		}
	}
	.testimonials__slider{
		padding: 63px 0 95px 0;
		.swiper-slide{
			padding-left: 80px;
			padding-right: 15px;
		}
		.content{
			min-height: 350px;
			padding: 80px 30px 90px 30px;
		}
		.details{
			bottom: 30px;
		    padding: 0 30px;
		}
	}
}
@include media-breakpoint-down(sm){
	section .section__title{
		.h1{
			font-size: 52px;
			line-height: 68px;
		}
	}
}
@include media-breakpoint-down(xs){
	section .section__title{
		.h1{
			font-size: 36px;
			line-height: 42px;
		}
	}
	.testimonials__slider {
		overflow: visible!important;
		.avatar{
			width: 80px;
			height: 80px;
			top: -40px;
			left: -40px;
		}
		.content{
			min-height: 450px;
			padding: 50px 30px 90px;
			p{
				font-size: 18px;
				line-height: 24px;
			}
		}
		.details{
			font-size: 18px;
			line-height: 24px;
		}
		.swiper-slide{
			padding-left: 60px;
		}
	}
}